{% extends 'base.html' %}
{% block content %}
<div class="about-text">
    <h1>Hogwarts: A place where people comes seeking Magic</h1>
    <p></p>
</div>
<div class="parent-container">
    <div class="parent-category-class">
        <div href="#" class="about">
            <img class="wow bounceInRight" src="https://vignette.wikia.nocookie.net/p__/images/e/e4/Reubeus_Hagrid_in_The_Philosophers%27s_Stone.jpeg/revision/latest?cb=20160113150114&path-prefix=protagonist">
            <div class="about-name">
                <h1><strong>Rubeus Hagrid</strong></h1>
                <h4>He is very hardworking and talented</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}